<div class="container mt-5">
  <h1>Book list</h1>
  <button class="btn btn-primary" [routerLink]="['create']">Add Book</button>
        <div class="d-flex flex-wrap">
          <div *ngFor="let book of books; let i = index" class="card card-body w-20">
            <app-book-item [book]="book" (click)="showDetail(book.id)"></app-book-item>
          </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [(ngModel)]="pagination.currentPage"
    [itemsPerPage]="pagination.itemsPerPage"
    (pageChanged)="pageChanged($event)"
  ></pagination>
</div>
