h1 {
  display: inline-block;
  margin-bottom: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

button {
  float: right;
}

app-book-item {
  cursor: pointer;
}

.w-20 {
  box-flex: 0;
  flex: 0 0 20%;
  max-width: 20%;
  padding-top: 0;
  padding-bottom: 0;
  border-style: hidden;
}

@media screen and (max-width: 768px) {
  .w-20 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .w-20 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

