<div class="container rounded mt-4">
  <button class="btn m-2" [routerLink]="['/']">Back</button>
  <div class="row">
  </div>
  <h1>{{book.title}}</h1>
  <div class="row">
    <div class="col-sm-4">
      <img
      class="img img-thumbnail"
      src="{{book.imageUrl}}"
      alt="{{book.title}}"
      />
    </div>
    <div class="col-sm-8 mt-4">
        <h6>Author</h6>
        <h4>{{book.author}}</h4>
        <hr>
        <h6>SubTitle</h6>
        <h5>{{book.subTitle}}</h5>
        <hr>
        <h6>Description</h6>
        <p>{{book.description}}</p>
    </div>
    </div>
</div>

