.img-thumbnail {
  margin: 25px;
  width: 75%;
  max-width: 100%;
  height: auto;
}

.container {
  border: 1px solid lightgray;
  background-color: lightgray;
  border-radius: 10px;
}

button {
  background-color: grey;
}
