<div class="container mt-4">
    <h2>Create Book</h2>
    <div class="mt-4">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            id="title"
            class="form-control"
            ngModel
            name="title"
            required
          />
        </div>
        <div class="form-group">
          <label for="subTitle">Subtitle</label>
          <input
            type="text"
            id="subTitle"
            class="form-control"
            ngModel
            name="subTitle"
            required
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            id="description"
            rows="3"
            name="description"
            ngModel
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input
            type="text"
            id="author"
            class="form-control"
            ngModel
            name="author"
            required
          />
        </div>
        <div class="form-group">
            <label for="imageUrl">Book Cover</label>
            <input
              type="text"
              id="imageUrl"
              class="form-control"
              ngModel
              name="imageUrl"
              required
              #image="ngModel"
            />
        </div>
        <img *ngIf="image.valid && image.touched" [src]="image.value" alt="" class="img-thumbnail float-right">
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
        Add
      </button>
    </form>
  </div>
  </div>
