<div class="card mb-4">
  <div class="card-img-wrapper">
    <img src="{{book.imageUrl}}" alt="{{book.title}}" class="card-img-top">
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">
      {{book.title}}
    </h6>
    <p class="card-text text-muted text-center">{{book.author}}</p>
  </div>
</div>
